.footer {
  background-color: $darkBlue;
  text-align: center;
  padding: rem(35) rem(20);

  @include breakpoint-up(large) {
    padding-bottom: rem(0);
  }
  .container {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 3fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "logo link1 link2 btn"
        "socail link1 link2 copyright";
    }
  }

  &__logo {
    @include breakpoint-up(large) {
      text-align: start;
    }
    .logo {
      @include breakpoint-up(large) {
        grid-area: logo;
      }
    }
    .social {
      margin-top: rem(25);
      margin-bottom: rem(30);

      @include breakpoint-up(large) {
        grid-area: social;
        margin-bottom: rem(0);
        margin-top: rem(50);
      }

      img {
        width: rem(24);
        height: rem(24);
        &:hover {
          cursor: pointer;
        }
        &:not(:last-child) {
          margin-right: rem(12);
        }
      }
    }
  }
  &__link {
    a {
      display: inline-block;
      display: flex;
      flex-direction: column;
      font-size: rem(14);
      margin-bottom: rem(18);
      color: $White;
      font-weight: $fontW-n7;
      &:hover {
        color: $limeGreen;
      }
    }

    &.link1 {
      @include breakpoint-up(large) {
        grid-area: link1;
        text-align: start;
      }
    }
    &.link2 {
      @include breakpoint-up(large) {
        grid-area: link2;
        text-align: start;
      }
    }
  }

  &__copyright {
    @include breakpoint-up(large) {
      text-align: end;
    }
    .btn {
      margin-top: rem(15);
      margin-bottom: rem(25);
      @include breakpoint-up(large) {
        grid-area: btn;
        margin-top: rem(0);
      }
    }
    p {
      margin-bottom: rem(45);
      @include breakpoint-up(large) {
        margin-top: rem(0);
        grid-area: copyright;
      }
    }
  }
}
