.header {
  position: relative;
  z-index: 1;
  background-color: $White;
  &.open {
    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    position: fixed;
    top: rem(60);
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient($darkBlue, transparent);
  }

  nav {
    position: relative;
    align-items: center;
    height: rem(60);
    padding: rem(24);

    @include breakpoint-up(large) {
      height: rem(80);
    }
  }
  &__logo {
    padding-top: rem(10);

    img {
      width: rem(140);
      height: rem(20);
    }
  }
  &__menu {
    // Mobile menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 6px 1px;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  .menu-toggle {
    position: absolute;
    top: rem(80);
    background: $White;
    margin: rem(20);
    width: calc(100% - 2.5rem);
    padding: rem(26);
    border-radius: 5px;

    a {
      display: block;
      color: $darkBlue;
      text-align: center;
      padding: rem(10) 0;
    }
  }

  &__link {
    a {
      font-size: $font-sm;
      font-weight: $fontW-n7;
      transition: color 200ms ease-in-out;
      position: relative;
      &:not(:last-child) {
        margin-right: rem(30);
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: color 300ms ease-in-out;
      }
      &:hover {
        color: $darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }

  // &__btn {
  //   transform: translateX(-55%);
  // }
}
