.hero {
  background-color: $veryLightGray;

  @include breakpoint-up(large) {
    height: rem(475);
  }
  .container {
    @include breakpoint-up(large) {
      display: flex;
      flex-direction: row-reverse;
      height: rem(655);
    }
  }

  &__image {
    position: relative;
    height: rem(345);
    width: 100%;
    background-size: cover;
    background-image: url(/images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 0;

    @include breakpoint-up(medium) {
      height: rem(600);
      background-position: bottom center;
    }

    @include breakpoint-up(large) {
      flex: 3;
      background-image: none;
      overflow: hidden;
      transform: translateX(14%);
    }

    &::before {
      @include breakpoint-up(large) {
        content: "";
        display: block;
        position: relative;
        width: 100%;
        height: rem(645);
        top: -20%;
        left: 5%;
        background-image: url(images/bg-intro-desktop.svg);
        background-position: bottom left;
        background-size: 130%;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 95%;
      height: 85%;
      background-image: url(images/image-mockups.png);
      background-size: cover;
      background-position: bottom center;
      background-repeat: no-repeat;
      left: calc((100% - 95%) / 2);

      @include breakpoint-up(medium) {
        height: 110%;
        background-size: contain;
        top: -15%;
      }

      @include breakpoint-up(large) {
        position: absolute;
        top: -27%;
        left: 25%;
        width: 90%;
        height: rem(775);
        background-size: contain;
      }
    }
  }

  &__text {
    text-align: center;
    padding: 0 rem(20);
    @include breakpoint-up(large) {
      flex: 2;
      margin-right: rem(20);
      align-self: center;
      transform: translateY(-50%);

      p {
        text-align: start;
        max-width: rem(430);
        font-size: rem(18);
      }
      h1 {
        font-size: $font-xlg;
        text-align: start;
      }
      .btn {
        position: absolute;
        left: 5%;
      }
    }
    h1 {
      font-weight: $fontW-n3;
      margin-bottom: rem(23);
    }
    p {
      line-height: 1.5;
      margin-bottom: rem(33);
    }
    .btn {
      margin-bottom: rem(50);
    }
  }
}
