.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #9698a6;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
  line-height: 1.4;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

button,
.btn {
  padding: 0 1.875rem;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: #f3f4f6;
  font-size: 0.9375rem;
  font-weight: 700;
  height: 2.875rem;
  opacity: 1;
}

button:hover,
.btn:hover {
  opacity: 0.75;
}

@media (max-width: 64em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64.0625em) {
  .hide-for-destop {
    display: none;
  }
}

.container {
  max-width: 69.5625rem;
}

.container.m-x {
  margin: 0 auto;
}

.container.m-l {
  margin-left: auto;
}

h1,
h2,
h3 {
  color: #2d314d;
  font-weight: 300;
}

h1 {
  font-size: 2.1875rem;
}

p {
  font-size: 0.9375rem;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  position: relative;
  z-index: 1;
  background-color: white;
}

.header.open .header__menu > span:first-child {
  transform: rotate(45deg);
}

.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu > span:last-child {
  transform: rotate(-45deg);
}

.header .overlay {
  position: fixed;
  top: 3.75rem;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(#2d314d, transparent);
}

.header nav {
  position: relative;
  align-items: center;
  height: 3.75rem;
  padding: 1.5rem;
}

@media (min-width: 64.0625em) {
  .header nav {
    height: 5rem;
  }
}

.header__logo {
  padding-top: 0.625rem;
}

.header__logo img {
  width: 8.75rem;
  height: 1.25rem;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  transition: all 300ms ease-in-out;
  transform-origin: 6px 1px;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 3px;
}

.header .menu-toggle {
  position: absolute;
  top: 5rem;
  background: white;
  margin: 1.25rem;
  width: calc(100% - 2.5rem);
  padding: 1.625rem;
  border-radius: 5px;
}

.header .menu-toggle a {
  display: block;
  color: #2d314d;
  text-align: center;
  padding: 0.625rem 0;
}

.header__link a {
  font-size: 0.9375rem;
  font-weight: 700;
  transition: color 200ms ease-in-out;
  position: relative;
}

.header__link a:not(:last-child) {
  margin-right: 1.875rem;
}

.header__link a::before {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  transition: color 300ms ease-in-out;
}

.header__link a:hover {
  color: #2d314d;
}

.header__link a:hover::before {
  opacity: 1;
}

.hero {
  background-color: #fafafa;
}

@media (min-width: 64.0625em) {
  .hero {
    height: 29.6875rem;
  }
}

@media (min-width: 64.0625em) {
  .hero .container {
    display: flex;
    flex-direction: row-reverse;
    height: 40.9375rem;
  }
}

.hero__image {
  position: relative;
  height: 21.5625rem;
  width: 100%;
  background-size: cover;
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 0;
}

@media (min-width: 40em) {
  .hero__image {
    height: 37.5rem;
    background-position: bottom center;
  }
}

@media (min-width: 64.0625em) {
  .hero__image {
    flex: 3;
    background-image: none;
    overflow: hidden;
    transform: translateX(14%);
  }
}

@media (min-width: 64.0625em) {
  .hero__image::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 40.3125rem;
    top: -20%;
    left: 5%;
    background-image: url(/images/bg-intro-desktop.svg);
    background-position: bottom left;
    background-size: 130%;
  }
}

.hero__image::after {
  content: "";
  display: block;
  position: absolute;
  width: 95%;
  height: 85%;
  background-image: url(/images/image-mockups.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  left: calc((100% - 95%) / 2);
}

@media (min-width: 40em) {
  .hero__image::after {
    height: 110%;
    background-size: contain;
    top: -15%;
  }
}

@media (min-width: 64.0625em) {
  .hero__image::after {
    position: absolute;
    top: -27%;
    left: 25%;
    width: 90%;
    height: 48.4375rem;
    background-size: contain;
  }
}

.hero__text {
  text-align: center;
  padding: 0 1.25rem;
}

@media (min-width: 64.0625em) {
  .hero__text {
    flex: 2;
    margin-right: 1.25rem;
    align-self: center;
    transform: translateY(-50%);
  }
  .hero__text p {
    text-align: start;
    max-width: 26.875rem;
    font-size: 1.125rem;
  }
  .hero__text h1 {
    font-size: 3.125rem;
    text-align: start;
  }
  .hero__text .btn {
    position: absolute;
    left: 5%;
  }
}

.hero__text h1 {
  font-weight: 300;
  margin-bottom: 1.4375rem;
}

.hero__text p {
  line-height: 1.5;
  margin-bottom: 2.0625rem;
}

.hero__text .btn {
  margin-bottom: 3.125rem;
}

.features {
  background-color: #f3f4f6;
  padding: 5.9375rem 1.5625rem;
  text-align: center;
}

@media (min-width: 64.0625em) {
  .features {
    text-align: start;
    height: 42.1875rem;
  }
}

.features__text h2 {
  margin-top: 0;
  font-size: 1.875rem;
}

@media (min-width: 64.0625em) {
  .features__text h2 {
    font-size: 2.1875rem;
  }
}

.features__text p {
  margin-bottom: 3.125rem;
}

@media (min-width: 40em) {
  .features__text p {
    margin-bottom: 0;
  }
}

@media (min-width: 64.0625em) {
  .features__text p {
    max-width: 38.4375rem;
    font-size: 1rem;
  }
}

.features__items {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .features__items {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.features__items .item {
  flex: 100%;
}

@media (min-width: 40em) {
  .features__items .item {
    flex-basis: 50%;
    padding: 0 3.125rem;
  }
}

@media (min-width: 64.0625em) {
  .features__items .item {
    padding: 0rem;
    padding-right: 2.1875rem;
    flex-basis: 25%;
  }
}

.features__items .item img {
  margin: 1.875rem 0;
}

@media (min-width: 64.0625em) {
  .features__items .item p {
    font-size: 0.875rem;
    line-height: 1.8;
    padding: 0rem;
    padding-right: 0.75rem;
  }
}

.articles {
  padding: 5.3125rem 1.5625rem;
  background-color: #fafafa;
}

.articles__text {
  text-align: center;
}

@media (min-width: 64.0625em) {
  .articles__text {
    text-align: start;
  }
}

.articles__text h2 {
  margin-bottom: 2.1875rem;
  font-size: 1.875rem;
}

.articles__items {
  display: grid;
  grid-gap: 30px;
}

@media (min-width: 40em) {
  .articles__items {
    max-width: 100%;
    justify-content: space-around;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
  }
}

@media (min-width: 64.0625em) {
  .articles__items {
    max-width: 100%;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px;
  }
}

.articles__items .item {
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.articles__items .item:hover {
  cursor: pointer;
  box-shadow: 0 0 50px #ccc;
  transform: scale(1.01);
}

@media (min-width: 64.0625em) {
  .articles__items .item {
    max-width: 16.0625rem;
  }
}

.articles__items .item .content {
  padding: 0 1.25rem;
}

.articles__items .item img {
  width: 100%;
  max-height: 11.5625rem;
  border-radius: 5px 5px 0 0;
}

@media (min-width: 40em) {
  .articles__items .item img {
    min-height: 12.5rem;
  }
}

.articles__items .item .author {
  font-size: 0.75rem;
  margin-top: 1.6875rem;
  margin-bottom: 0.9375rem;
}

.articles__items .item h3 {
  margin-top: 0;
  font-size: 1.125rem;
}

.articles__items .item p {
  margin-bottom: 3.9375rem;
}

@media (min-width: 40em) {
  .articles__items .item p {
    font-size: 0.8125rem;
  }
}

.footer {
  background-color: #2d314d;
  text-align: center;
  padding: 2.1875rem 1.25rem;
}

@media (min-width: 64.0625em) {
  .footer {
    padding-bottom: 0rem;
  }
}

@media (min-width: 64.0625em) {
  .footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "logo link1 link2 btn" "socail link1 link2 copyright";
  }
}

@media (min-width: 64.0625em) {
  .footer__logo {
    text-align: start;
  }
}

@media (min-width: 64.0625em) {
  .footer__logo .logo {
    grid-area: logo;
  }
}

.footer__logo .social {
  margin-top: 1.5625rem;
  margin-bottom: 1.875rem;
}

@media (min-width: 64.0625em) {
  .footer__logo .social {
    grid-area: social;
    margin-bottom: 0rem;
    margin-top: 3.125rem;
  }
}

.footer__logo .social img {
  width: 1.5rem;
  height: 1.5rem;
}

.footer__logo .social img:hover {
  cursor: pointer;
}

.footer__logo .social img:not(:last-child) {
  margin-right: 0.75rem;
}

.footer__link a {
  display: inline-block;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  margin-bottom: 1.125rem;
  color: white;
  font-weight: 700;
}

.footer__link a:hover {
  color: #31d35c;
}

@media (min-width: 64.0625em) {
  .footer__link.link1 {
    grid-area: link1;
    text-align: start;
  }
}

@media (min-width: 64.0625em) {
  .footer__link.link2 {
    grid-area: link2;
    text-align: start;
  }
}

@media (min-width: 64.0625em) {
  .footer__copyright {
    text-align: end;
  }
}

.footer__copyright .btn {
  margin-top: 0.9375rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64.0625em) {
  .footer__copyright .btn {
    grid-area: btn;
    margin-top: 0rem;
  }
}

.footer__copyright p {
  margin-bottom: 2.8125rem;
}

@media (min-width: 64.0625em) {
  .footer__copyright p {
    margin-top: 0rem;
    grid-area: copyright;
  }
}
/*# sourceMappingURL=styles.css.map */